<!--======Second Header Starts Here==========-->

<section id="Second-menu">
    <div class="close visible-xs"><i class="fa fa-close"></i></div>
    <ul class="list-inline">
      
        <%  if popular_routes["dom_dom"].present?  && popular_routes["dom_dom"].length > 1%>
        <li>
        
          <a class="dropdown-toggle" type="button" data-toggle="dropdown"><%= @carrier_name_ar %> رحلات طيران داخلي <span class="caret"></span></a>
          <ul class="list-unstyled dropdown-menu"> 
            <% popular_routes_dom = popular_routes["dom_dom"] %> 
            <% main_header = popular_routes_dom.values_at(* popular_routes_dom.each_index.select {|i| i.odd?}) %>
            <% rside = popular_routes_dom.values_at(* popular_routes_dom.each_index.select {|i| i.even?}) %>
            <% rside_formatted = popular_routes_dom.values_at(* popular_routes_dom.each_index.select {|i| i.even?})[0..4] %>
            <% popular_routes_dom_formatted = main_header + (rside - rside_formatted) %>    
            <% popular_routes["dom_dom"].each do |route| %>  
            <li>
              <% link = link_to( "رحلات طيران #{route['dep_city_name_ar']} #{I18n.t('brand.to')} #{route['arr_city_name_ar']}", "/ar/flight-booking/" + url_escape("#{@carrier_name.downcase.gsub(" ","-")}-#{route['dep_city_name_en']}-#{route['arr_city_name']}-flights") + ".html",title: "رحلات طيران #{route['dep_city_name_ar']} #{I18n.t('brand.to')} #{route['arr_city_name_ar']}") %>
              <%= link %>
            </li>  
            <% end %>
          </ul>
        </li>
        <% end %>

        <% if popular_routes["dom_int"].present? %> 
        <li>
        <a class="dropdown-toggle" type="button" data-toggle="dropdown"> <%= @carrier_name_ar %> رحلات طيران دولي <span class="caret"></span></a>
        <ul class="list-unstyled dropdown-menu"> 
          <% popular_routes_int = popular_routes["dom_int"] %> 
          <% main_header = popular_routes_int.values_at(* popular_routes_int.each_index.select {|i| i.odd?}) %>
          <% rside = popular_routes_int.values_at(* popular_routes_int.each_index.select {|i| i.even?}) %>
          <% rside_formatted = popular_routes_int.values_at(* popular_routes_int.each_index.select {|i| i.even?})[0..4] %>
          <% popular_routes_int_formatted = main_header + (rside - rside_formatted) %>      
          <% popular_routes["dom_int"].each do |route|%>
          <li>
            <% link = link_to( "رحلات طيران #{route['dep_city_name_ar']} #{I18n.t('brand.to')} #{route['arr_city_name_ar']}", "/ar/flight-booking/" + url_escape("#{@carrier_name.downcase.gsub(" ","-")}-#{route['dep_city_name']}-#{route['arr_city_name']}-flights") + ".html",title: "رحلات طيران #{route['dep_city_name_ar']} #{I18n.t('brand.to')} #{route['arr_city_name_ar']}") %>
            <%= link %>
          </li>
          <% end %>
        </ul>
        </li>
        <% end %>
      <li>
        <a class="dropdown-toggle" type="button" data-toggle="dropdown">معلومات شركة الطيران <span class="caret"></span></a>
        <ul class="list-unstyled dropdown-menu"> 
          <% if brand_type != 'overview_page' %> 
            <li><%= link_to("#{@carrier_name_ar} نظرة عامة","/ar/flight-booking/#{url_escape("#{format_overview_link(@carrier_name, I18n.locale)}")}.html",title:"#{@carrier_name_ar} نظرة عامة")%>
            </li>
          <% end %>
          <% if brand_type != 'pnr_page' %>
            <li><%= link_to("#{@carrier_name_ar} PNR حالة","#{@host_name}/ar/flight-booking/#{url_escape("#{format_overview_link(@carrier_name, I18n.locale)}")}-flight-pnr-status.html",title:"#{@carrier_name_ar} PNR حالة") %></li>
          <% end%>
          <% if brand_type != 'webcheckin_page' %> 
          <li><%= link_to("#{@carrier_name_ar} تسجيل الدخول للرحلة عبر الإنترنت","#{@host_name}/ar/flight-booking/#{url_escape("#{format_overview_link(@carrier_name, I18n.locale)}")}-web-check-in.html",title:"#{@carrier_name_ar} تسجيل الدخول للرحلة عبر الإنترنت") %></li>
          <%end%>
        </ul>
      </li>
     
        <% if airports["dom_airports"].present? %>
        <li>
        <a class="dropdown-toggle" type="button" data-toggle="dropdown">مطارات داخلية <span class="caret"></span></a>
        <ul class="list-unstyled dropdown-menu"> 
          <% airports["dom_airports"].each do |airport|%>
          <li>
            <%  airport_name = link_to( airport['airport_name_ar'], "#{@host_name}/tourism/airports/ar/"+ "#{url_escape(airport['city_name'])+'-airport.html'.gsub('%2F','/')}", title: airport['airport_name_ar']) %>
            <%=  airport_name %>
          </li> 
          <% end %> 
        </ul>
        </li>
        <% end %>
            
        <% if airports["int_airports"].present? %>
        <li>
        <a class="dropdown-toggle" type="button" data-toggle="dropdown">مطارات دولية <span class="caret"></span></a>
        <ul class="list-unstyled dropdown-menu"> 
          <%  airports["int_airports"].each do |airport| %>
          <li>
            <%  airport_name = link_to( airport['airport_name_ar'], "#{@host_name}tourism/airports/ar/"+ "#{url_escape(airport['city_name'])+'-airport.html'.gsub('%2F','/')}",title: airport['airport_name_ar'])  %>
            <%=  airport_name %>
          </li>  
          <% end %>
        </ul>
        </li>
        <% end %>    
    </ul>
</section>

