  
<footer>
	<div class="container-fluid">
	  <div class="sixteen columns alpha">
	    <ul class="footerlinkssmall list-unstyled">
	      <% title = section.include?("dom") ? "Domestic Airlines:" : "International Airlines:" %>
	        <li><%= title %></li>
	        <% top_airlines.each do |cc| %>
	          <li> 
	            <% airline_name = link_to( I18n.t("airlines.#{cc}"), "/flight-booking/" + format_airline_name(I18n.with_locale(:en) { I18n.t("airlines.#{cc}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html") %>
	            <%= airline_name %>
	          </li>
	        <% end %>
	    </ul>
	    <ul class="footerlinkssmall">
	      <li><%= I18n.t('footer.countries')%>:</li>
	      <li> <a href="https://www.cleartrip.com" title="<%= I18n.t('footer.in')%>"><%= I18n.t('footer.in')%></a> </li>
	      <li> <a href="https://www.cleartrip.ae/ar/" title="<%= I18n.t('footer.in')%>"><%= I18n.t('footer.ae')%></a> </li>
	      <li> <a href="https://www.cleartrip.sa/ar/" title="<%= I18n.t('footer.sa')%>"><%= I18n.t('footer.sa')%></a> </li>
	      <li> <a href="https://bh.cleartrip.com" title="<%= I18n.t('footer.bh')%>"><%= I18n.t('footer.bh')%></a> </li>
	      <li> <a href="https://kw.cleartrip.com" title="<%= I18n.t('footer.kw')%>"><%= I18n.t('footer.kw')%></a> </li>
	      <li> <a href="https://qa.cleartrip.com" title="<%= I18n.t('footer.qa')%>"><%= I18n.t('footer.qa')%></a> </li>
	      <li> <a href="https://om.cleartrip.com" title="<%= I18n.t('footer.om')%>"><%= I18n.t('footer.om')%></a> </li>
    	</ul>
    	<div class="clearfix"></div>
      <ul class="footerlinkssmall" style="width:100%;">
        <li style="width:80%">&copy;2006-2018 Cleartrip Pvt. Ltd.</li>
        <li> <a rel="nofollow" href="/privacy-policy/">Privacy</a> </li>
        <li> <a rel="nofollow" href="/security">Security</a> </li>
        <li> <a rel="nofollow" href="/terms/">Terms of Use</a> </li>
      </ul>
	 	</div>
	</div>
</footer>
