<% use_helper = self.extend ApplicationHelper %>
<% country_code = @country_code 
   assets_path = "https://d2w5af8s1781.cloudfront.net/waytogo-staging"
%>
  <body>
  <%= render partial: "common/google_tag_manager" %>

  <%= render partial: "common/top_header", locals: { assets_path: assets_path, country_code: country_code, host: host, flight_file_name: @file_name, page_type: 'flight-schedule', application_processor: application_processor} %>

  <!--======Second Header Starts Here==========-->
    <%= render :partial => "schedules/from_to/en/shared/from_to_header_en",locals: {city_name: @city_name,city_layout_values: city_layout_values,section: @city_section,country_code: @country_code} %> 
  <!--======Second Header Ends Here==========-->

  <!--/contnet Starts Here-->
  <section id="content">
    <div class="container-fluid">
      <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="list-inline bread-crumb no-padding">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a  itemprop="item" href="/flights" title="<%= t('flight_schedule.breadcrumb_flight_title') %>"><span  itemprop="name"><%= t('breadcrumb.flights') %></span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
      <% if @city_country_code == country_code %>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a  itemprop="item"  href="/flight-schedule/<%= I18n.locale.to_s==:en || I18n.locale.to_s=='en' ? ''.html_safe : "#{I18n.locale.to_s}/".html_safe %>flight-schedules-domestic.html" title="<%= t('flight_schedule.breadcrumb_flight_title') %>" itemprop="url">
            <span itemprop="name">
              <%= t('flight_schedule.domestic_flight_schedules') %>
            </span>
          </a>
          <meta itemprop="position" content="2" />
        </li>
      <% else %>
         <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a  itemprop="item"  href="/flight-schedule/<%= I18n.locale.to_s==:en || I18n.locale.to_s=='en' ? ''.html_safe : "#{I18n.locale.to_s}/".html_safe %>flight-schedules-international.html" title="<%= t('flight_schedule.breadcrumb_flight_title') %>" itemprop="url">
            <span itemprop="name">
              <%= t('flight_schedule.international_flight_schedules') %>
            </span>
          </a>
          <meta itemprop="position" content="2" />
        </li>
      <% end %>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span itemprop="name" class="first"><%= t('from_city.breadcrumb_third_from', city_name: @city_name) %></span>
          <meta itemprop="position" content="3" />
        </li>
      </ol>
    <h1><%= t('from_city.header_to', city_name: @city_name) %></h1>
    <%= render :partial=>"common/search_widget" %>
    <div class="col-lg-9 col-md-9 col-sm-12 mobile-view pad-lzero" id="flight-schedule">
      <div class="list-box">
        <% if pagination[:current_page_no] == 0 %>
          <% if popular_routes["dom"].present? %>
            <h2><%=t('from_city.domestic_flights_from')%> <%= t('from_city.city_name', city_name: @city_name) %><span class="weak"> ( <%= t("from_city.flights_found", count: city_layout_values['dom_route_count']) %> )</span></h2>
             <%= render :partial=>"schedules/from_to/en/shared/from_to_city_table_en",:locals=>{:routes=> popular_routes["dom"], section: "dom", :country_code=> country_code, :use_helper=>use_helper, :assets_path=>assets_path} %><!--/normal-list-view-->
            <p>&nbsp;</p>
          <% end %>
          <% if popular_routes["int"].present? %>
            <h2><%=t('from_city.international_flights_from')%> <%= t('from_city.city_name', city_name: @city_name) %><span class="weak"> ( <%= t("from_city.flights_found", count: city_layout_values['int_route_count']) %> )</span></h2>
            
             <%= render :partial=>"schedules/from_to/en/shared/from_to_city_table_en",:locals=>{:routes=> popular_routes["int"], section: "int", :country_code=> @country_code, :use_helper=>use_helper, :assets_path=>assets_path} %><!--/normal-list-view-->
          <% end %>
         
           <div class="content-desc">
              <h1><%= t('from_city.flight_from_city_name', city_name: @city_name) %></h1>
              
              <% if city_layout_values["city_from_content"].present? %>
                <%= raw city_layout_values["city_from_content"] %>
              <% else %>
              <p>
                <%= render partial: "schedules/from_to/en/contents/in_en_to_city_templatized_content", locals: {city_name: @city_name, host: display_host(@country_code),city_layout_values: top_routes: pagination[:routes]} %>
              </p>
              <% end %>
            </div>
          <% end %>
          <% if pagination[:routes].present? %>
            <div class="content-desc">
              <h2>Flights to <%= @city_name %> </h2>
              <%= render :partial=>"schedules/from_to/en/shared/top_more_routes",locals: { top_routes: city_layout_values["to_more_routes"] } %>
              <% if pagination[:total_pages]  > 1 %>
                <div class="text-center linklist-btn">
                  <% if pagination[:current_page_no] == 0 %>
                    <a class="no-link" ><%= t('prev') %></a> | <a rel="next" href='<%= "/flight-schedule/#{pagination[:next_url]}" %>' ><%= t('next') %></a>
                  <% elsif pagination[:current_page_no] >= pagination[:total_pages] %>
                    <a rel="prev" href='<%= "/flight-schedule/#{pagination[:prev_url]}" %>' ><%= t('prev') %></a> | <a class="no-link" ><%= t('next') %></a>
                  <% else %>
                    <a rel="prev" href='<%= "/flight-schedule/#{pagination[:prev_url]}" %>' ><%= t('prev') %></a> | <a rel="next" href='<%= "/flight-schedule/#{pagination[:next_url]}" %>' ><%= t('next') %></a>
                  <% end%>
                </div>
                <% end %>
                <div class="clearfix"></div>
              </div>
            <% end %>
        </div>
    </div>
       <div id="Rside-bar">
      <div class="col-lg-3 col-md-3 col-sm-12 pad-rzero side-bar">
        <div class="blocks banner-section">
          <div id="banner">
            <a target="_blank"><img></a>
          </div>
        </div>
        <div class="clearfix"></div>
        <% if city_layout_values["dom_airlines"].present? %>
          <%= render :partial=>"schedules/from_to/en/shared/from_to_top_airlines_en",:locals=>{:top_airlines=>city_layout_values["dom_airlines"].uniq, use_helper: use_helper,:assets_path=>assets_path, application_processor: application_processor, section: "dom"  } %>
          <div class="clearfix"></div>
        <% end %>
        <% if city_layout_values["int_airlines"].present? %>
          <%= render :partial=>"schedules/from_to/en/shared/from_to_top_airlines_en",:locals=>{:top_airlines=>city_layout_values["int_airlines"].uniq, use_helper: use_helper,:assets_path=>assets_path, application_processor: application_processor, section: "int"  } %>
          <div class="clearfix"></div>
        <% end %>

        
        <% if city_layout_values['airport_address'].present? && city_layout_values['airport_name'].present? %>
          <%= render :partial=>"schedules/from_to/en/shared/from_to_airport_en",:locals=>{:airport=>city_layout_values } %>
        <% end %>
        <div class="blocks banner-section">
          <%= render :partial=>"common/banner",:locals=>{:country_code=>country_code, application_processor: application_processor} %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div><!--/Rside-bar-->
    </div>
  </section>
  <!--/contnet Ends Here-->
  <div style="display:none;">
    <div id='city_code' class='hidden'><%= @city_code%></div>
    <div id='country_code' class='hidden'><%= @country_code %></div>
    <div id="departure_city_code"><%= @city_code%></div>
  </div>
  
  </div>
   <div id="footer_container">
  <div id="footer">
    <%= render partial: "footers/in/schedule/from_to/in_en_footer", locals: {country_code: country_code,page_type: 'schedule-routes',footer_links_data: schedule_footer[:footer_links_data],top_airlines: schedule_footer[:int_airlines],city_layout_values: city_layout_values,section: @city_section,city_name: @city_name} %>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/ct_custom.js"></script>
  <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/banner.js"></script>
  <%= render :partial=>"shared/#{country_code.downcase}/#{country_code.downcase}_gac"%>
  <script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "7561529" });
    (function() {
      var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
      s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
      el.parentNode.insertBefore(s, el);
    })();
  </script>
  <noscript>
    <img src="https://b.scorecardresearch.com/p?c1=2&c2=7561529&cv=2.0&cj=1" />
  </noscript>
  <% lang = {
    "calender"=>{
      "airfare"=>t('calender.airfare'),
      "today"=>t('calender.today'),
      "cheapest"=>t('calender.cheapest'),
      "calendar_note"=>t('calender.calendar_note')
      },
      "flight_schedule"=>{
        "mo"=>t('flight_schedule.mo'),
        "tu"=>t('flight_schedule.tu'),
        "we"=>t('flight_schedule.we'),
        "th"=>t('flight_schedule.th'),
        "fr"=>t('flight_schedule.fr'),
        "sa"=>t('flight_schedule.sa'),
        "su"=>t('flight_schedule.su')
        },
        "currency"=>application_processor.currency_name(country_code),
        "month": ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      } 
      %>
  <script type="text/javascript">
    var lang = <%= lang.to_json.html_safe %>;
    var country_code='<%= country_code.downcase%>';
    var section_type='<%= country_code=="IN" ? "domestic" : "international" %>';
    var page_type="flight-schedule";
  </script>
  </body>