<% use_helper = self.extend ApplicationHelper %>
<% country_code = @country_code 
   assets_path = "https://d2w5af8s1781.cloudfront.net/waytogo-staging"
   page_number = 1
%>
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="<%= I18n.locale.to_s %>"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="<%= I18n.locale.to_s %>"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="<%= I18n.locale.to_s %>"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ar" dir="rtl"> <!--<![endif]-->
<head>
  
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T9S432');</script>
<!-- End Google Tag Manager -->
  <!-- Og implementation starts -->

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="robots" content="noodp,noydir"/>

<script src="https://cdn.optimizely.com/js/6878940622.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />


  <script src="https://cdn.optimizely.com/js/6878940622.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <title><%= t("from_city.title_from_html", city_name: @city_name) %></title>
  <!-- <meta name="description" content="<%#= t('from_city.description_from', city_name: @city_name) %>" /> -->


<!--   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= assets_path%>/stylesheets/jquery-ui.min.css"/>
  <link rel="stylesheet" href="<%= assets_path%>/stylesheets/ct_style.css"/> -->
  <link rel="stylesheet" href="https://d2w5af8s1781.cloudfront.net/waytogo-staging/stylesheets/application.css"/>
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href='<%="#{assets_path}/images/cleartrip32x32.ico" %>'>
  <link rel="apple-touch-icon" href='<%="#{assets_path}/images/57x57.png" %>'>
  <link rel="apple-touch-icon" sizes="72x72" href='<%="#{assets_path}/images/72x72.png" %>' >
  <link rel="apple-touch-icon" sizes="114x114" href='<%="#{assets_path}/images/114x114.png" %>'>
  <% lang = {
    "calender"=>{
      "airfare"=>t('calender.airfare'),
      "today"=>t('calender.today'),
      "cheapest"=>t('calender.cheapest'),
      "calendar_note"=>t('calender.calendar_note')
      },
      "flight_schedule"=>{
        "mo"=>t('flight_schedule.mo'),
        "tu"=>t('flight_schedule.tu'),
        "we"=>t('flight_schedule.we'),
        "th"=>t('flight_schedule.th'),
        "fr"=>t('flight_schedule.fr'),
        "sa"=>t('flight_schedule.sa'),
        "su"=>t('flight_schedule.su')
        },
        "currency"=>application_processor.currency_name(country_code),
        "month": ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      } 
      %>
  <script type="text/javascript">
    var lang = <%= lang.to_json.html_safe %>;
    var country_code='<%= @country_code.downcase%>';
    var section_type='<%= @country_code=="IN" ? "domestic" : "international" %>';
    var page_type="flight-schedule";
    var languageType='<%=I18n.locale.to_s.downcase%>';
  </script>

  <script type="text/javascript" src="<%= assets_path%>/javascripts/date_format.js"></script>

  <% if page_number == 1 %>
  <link rel="alternate" hreflang="x-default" href="https://www.cleartrip.com" >
  <link rel="canonical" href="<%= "#{application_processor.host_name(country_code)}/flight-schedule/#{first_file_name}" %>">
  <link rel="alternate" hreflang="en-kw" href="https://kw.cleartrip.com/flight-schedule/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="ar-kw" href="https://kw.cleartrip.com/ar/flight-schedule/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="en-qa" href="https://qa.cleartrip.com/flight-schedule/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="ar-qa" href="https://qa.cleartrip.com/ar/flight-schedule/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="en-in" href="https://www.cleartrip.com/flight-schedule/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="hi-in" href="https://www.cleartrip.com/flight-schedule/hi/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="en-ae" href="https://www.cleartrip.ae/flight-schedule/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="ar-ae" href="https://www.cleartrip.ae/ar/flight-schedule/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="en-bh" href="https://bh.cleartrip.com/flight-schedule/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="ar-bh" href="https://bh.cleartrip.com/ar/flight-schedule/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="en-om" href="https://om.cleartrip.com/flight-schedule/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="ar-om" href="https://om.cleartrip.com/ar/flight-schedule/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="en-sa" href="https://www.cleartrip.sa/flight-schedule/<%= "#{first_file_name}" %>">
  <link rel="alternate" hreflang="ar-sa" href="https://www.cleartrip.sa/ar/flight-schedule/<%= "#{first_file_name}" %>">
  <%else%>
  <link rel="canonical" href="<%= "#{application_processor.host_name(country_code)}/flight-schedule/#{first_file_name}" %>">
  <% end %>
  <!-- Crazyegg Tracking Code for cleartrip.com -->
  <script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0011/6454.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
   
  <!-- Hotjar Tracking Code for cleartrip.com -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:332967,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>
<body id="arabic">
 
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9S432"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <%#= render partial: "common/header", locals: { assets_path: assets_path, country_code: country_code, host: host, flight_file_name: flight_file_name, page_type: 'flight-schedule', application_processor: application_processor} %>

  <!--======Second Header Starts Here==========-->
            <%= render :partial => "schedules/from_to/ar/shared/from_to_header_ar",locals: {city_name: @city_name,city_layout_values: city_layout_values,section: @city_section,country_code: @country_code} %> 
  <!--======Second Header Ends Here==========-->

  <!--/contnet Starts Here-->
  <section id="content">
    <div class="container-fluid">
      <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="list-inline bread-crumb no-padding">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a  itemprop="item" href="/flights" title="<%= t('flight_schedule.breadcrumb_flight_title') %>"><span  itemprop="name"><%= t('breadcrumb.flights') %></span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
      <% if @city_country_code == country_code %>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a  itemprop="item"  href="/ar/flight-schedule/flight-schedules-domestic.html" title="<%= t('flight_schedule.breadcrumb_flight_title') %>" itemprop="url">
            <span itemprop="name">
              <%= t('flight_schedule.domestic_flight_schedules') %>
            </span>
          </a>
          <meta itemprop="position" content="2" />
        </li>
      <% else %>
         <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a  itemprop="item"  href="/ar/flight-schedule/flight-schedules-international.html" title="<%= t('flight_schedule.breadcrumb_flight_title') %>" itemprop="url">
            <span itemprop="name">
              <%= t('flight_schedule.international_flight_schedules') %>
            </span>
          </a>
          <meta itemprop="position" content="2" />
        </li>
      <% end %>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span itemprop="name" class="first"><%= t('from_city.breadcrumb_third_from', city_name: @city_name_ar) %></span>
          <meta itemprop="position" content="3" />
        </li>
      </ol>
    <h1><%= t('from_city.header_to', city_name: @city_name_ar) %></h1>
    <%= render :partial=>"common/search_widget_ar" %>
    <div class="col-lg-9 col-md-9 col-sm-12 mobile-view pad-lzero" id="flight-schedule">
      <div class="list-box">
        <% if popular_routes["dom"].present? %>
          <h2><%=t('from_city.domestic_flights_from')%> <%= t('from_city.city_name', city_name: @city_name_ar) %><span class="weak"> ( <%= t("from_city.flights_found", count: city_layout_values['dom_route_count']) %> )</span></h2>
           <%= render :partial=>"schedules/from_to/ar/shared/from_to_city_table_ar",:locals=>{:routes=> popular_routes["dom"], section: "dom", :country_code=> country_code, :use_helper=>use_helper, :assets_path=>assets_path} %><!--/normal-list-view-->
          <p>&nbsp;</p>
        <% end %>
        <% if popular_routes["int"].present? %>
          <h2><%=t('from_city.international_flights_from')%> <%= t('from_city.city_name', city_name: @city_name_ar) %><span class="weak"> ( <%= t("from_city.flights_found", count: city_layout_values['int_route_count']) %> )</span></h2>
          
           <%= render :partial=>"schedules/from_to/ar/shared/from_to_city_table_ar",:locals=>{:routes=> popular_routes["int"], section: "int", :country_code=> @country_code, :use_helper=>use_helper, :assets_path=>assets_path} %><!--/normal-list-view-->
        <% end %>
       
         <div class="content-desc">
          <h1><%= t('from_city.flight_from_city_name', city_name: @city_name_ar) %></h1>
          
          <% if city_layout_values["city_from_content"].present? %>
            <%= raw city_layout_values["city_from_content"] %>
          <% else %>
          <p>
            <%= render partial: "schedules/from_to/ar/ae_ar_to_city_templatized_content", locals: {city_name: @city_name_ar, host: display_host(@country_code),city_layout_values: city_layout_values} %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
       <div id="Rside-bar">
      <div class="col-lg-3 col-md-3 col-sm-12 pad-rzero side-bar">
        <div class="blocks banner-section">
          <div id="banner">
            <a target="_blank"><img></a>
          </div>
        </div>
        <div class="clearfix"></div>
        <% if city_layout_values["dom_airlines"].present? %>
          <%= render :partial=>"schedules/from_to/ar/shared/from_to_top_airlines_ar",:locals=>{:top_airlines=>city_layout_values["dom_airlines"].uniq, use_helper: use_helper,:assets_path=>assets_path, application_processor: application_processor, section: "dom"  } %>
          <div class="clearfix"></div>
        <% end %>
        <% if city_layout_values["int_airlines"].present? %>
          <%= render :partial=>"schedules/from_to/ar/shared/from_to_top_airlines_ar",:locals=>{:top_airlines=>city_layout_values["int_airlines"].uniq, use_helper: use_helper,:assets_path=>assets_path, application_processor: application_processor, section: "int"  } %>
          <div class="clearfix"></div>
        <% end %>

        <%# if dom_top_routes.present? %>
        <%#= render :partial=>"airline_brands/top_routes",:locals=>{:routes=> dom_top_routes.uniq, page_type: 'flight-booking',:assets_path=>assets_path, application_processor: application_processor, section: "dom"  } %>
        <div class="clearfix"></div>
        <%# end %>
        <% if city_layout_values['airport_address'].present? && city_layout_values['airport_name'].present? %>
          <%= render :partial=>"schedules/from_to/ar/shared/from_to_airport_ar",:locals=>{:airport=>city_layout_values } %>
        <% end %>
        <div class="blocks banner-section">
          <%#= render :partial=>"new_flights/banner",:locals=>{:country_code=>country_code, application_processor: application_processor} %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div><!--/Rside-bar-->
    </div>
  </section>
  <!--/contnet Ends Here-->
  <div style="display:none;">
    <div id='city_code' class='hidden'><%= @city_code%></div>
    <div id='country_code' class='hidden'><%= @country_code %></div>
    <div id="departure_city_code"><%= @city_code%></div>
  </div>
  
  </div>
   <div id="footer_container">
  <div id="footer">
    <% country_code = @country_code %>
    <%= render partial: "footers/#{country_code.downcase}/schedule/from_to/ar/ae_ar_from_to_footer", locals: {country_code: country_code,footer_links_data_arabic: schedule_footer[:footer_links_data_arabic],top_airlines: schedule_footer[:int_airlines],section: @section} %>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/ct_custom.js"></script>
  <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/banner.js"></script>
  <%= render :partial=>"shared/#{country_code.downcase}/#{country_code.downcase}_gac"%>
  <script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "7561529" });
    (function() {
      var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
      s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
      el.parentNode.insertBefore(s, el);
    })();
  </script>
  <noscript>
    <img src="https://b.scorecardresearch.com/p?c1=2&c2=7561529&cv=2.0&cj=1" />
  </noscript>
</body>
</html>