<% use_helper = self.extend ApplicationHelper %>
<% if I18n.locale.to_s == 'en' %>
<% locale = ''%>
<% else %>
<% locale = "#{I18n.locale.to_s}/" %>
<% end %>
<!DOCTYPE html>

<html lang="en"> 
<head>
 
 <!-- Google Tag Manager -->
 <script>
   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
 })(window,document,'script','dataLayer','GTM-T9S432');
</script>
<!-- End Google Tag Manager -->

<title><%= I18n.t("brand.title",airline_name: @carrier_name)%></title>
<meta name="description" content="<%= t('brand.description', airline_name: @arrier_name) %>"/>

<!-- Robot tags-->
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="robots" content="noodp,noydir"/>
<!-- Robot tags ends-->



<meta name="keywords" content="<%= t('brand.keywords', airline_name: @carrier_name) %>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://s3-ap-southeast-1.amazonaws.com/waytogo-assets/waytogo-staging/stylesheets/application.css"/>
<link rel="shortcut icon" href='<%="#{@assets_path}/images/cleartrip32x32.ico" %>'>
<link rel="apple-touch-icon" href='<%="#{@assets_path}/images/57x57.png" %>'>
<link rel="apple-touch-icon" sizes="72x72" href='<%="#{@assets_path}/images/72x72.png" %>' >
<link rel="apple-touch-icon" sizes="114x114" href='<%="#{@assets_path}/images/114x114.png" %>'>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<link rel="amphtml" href="<%= "#{application_processor.host_name(@country_code)}/#{page_type}/amp/#{flight_file_name}" %>">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>


<!-- Crazyegg Tracking Code for cleartrip.com -->
  <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0011/6454.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
  <!-- Hotjar Tracking Code for cleartrip.com -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:332967,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <script type="text/javascript">
    var section_type="<%= @section.include?("dom")? "domestic" : "international" %>";
  </script>
  
  <style type="text/css">
  #content .content-desc, .airline-desc {
    padding:  0!important; 
    color: rgb(68, 68, 68);
    font-size: 14px;
    line-height: 24px;
  }
  .top-routes .linklist-btn a.no-link:hover {
    background-color: #eee;
    border: 1px solid #ddd;
  }
  #banner img {
    width: 100%;
  }
</style>
</head>
<body>
 <script>
  $(document).ready(function(){
    $('.Menuicon').click(function(){
       // $('#Second-menu').css("right", "0");
       $("#Second-menu").animate({right: '0'});
     })

    $('.close').click(function(){
       // $('#slide-header').css("right", "-300px")
       $("#Second-menu").animate({right: '-450px'});

     })
  })
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9S432"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <%#= render partial: "common/header", locals: { assets_path: @assets_path, country_code: country_code, host: host, flight_file_name: flight_file_name, page_type: 'flight-booking', application_processor: application_processor} %>
  <section id="flights-nav">
    <div class="container-fluid">
      <div class="ctCol ctProducts mview-header">
        <a class="ctBrand" href="/">
          <span class="cleartripLogo" title="Homepage">Home</span>
        </a>
        <ul class="productLinks hasProductIcons">
          <li class="flightApp">
            <a rel="bToolTip" Flights href="/flights">
              <span class="productIcon flights">Flights</span>
            </a>
          </li>
          <li class="hotelApp">
            <a rel="bToolTip" Hotels href="/hotels">
              <span class="productIcon hotels">Hotels</span>
            </a>
          </li>
          <li class="packagesApp">
            <a rel="bToolTip" Packages href="/packages">
              <span class="productIcon packages">Packages</span>
            </a>
          </li>s
        </ul>
        <div class="Menuicon visible-xs pull-right"> <span></span> <span></span> <span></span></div>
      </div>
      <div class="ctCol ctCenter mview-center">&nbsp;</div>
      <div class="ctCol">
        <ul class="list-inline language">
          <li class="en first active">
            <a href="https://www.cleartrip.ae/ar/flight-booking/<%= flight_file_name %>" lang="hi">عربى</a>
          </li>
          <li>|</li>
          <li>
            <a href="https://www.cleartrip.ae/flight-booking/<%= flight_file_name %>" lang="en">English</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
  <!--/Header Ends Here-->
  <!-- /Second Header starts here -->
  <%= render partial: "bookings/shared/en/booking_header",locals: {popular_routes: popular_routes,airports: header_airports,carrier_name_en: @carrier_name,use_helper: use_helper, application_processor: application_processor,customer_support: customer_support,baggages: baggages,brand_type: "overview_page"} %>
  <!-- /Second Header ends  here -->
  <div class="clearfix"></div>
  <!--/content Starts Here-->
  <section id="content">
    <div class="container-fluid">
      <ul class="list-inline bread-crumb">
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb" class="first">
          <a href="/flights" title="<%= t('breadcrumb.flights') %>" itemprop="url"><span itemprop="title"><%= t('breadcrumb.flights') %></span></a>
        </li>
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
          <a href="/flight-booking/<%= locale %>domestic-airlines.html" title="<%= t('breadcrumb.domestic_airlines') %>" itemprop="url">
            <span itemprop="title"><%= t('breadcrumb.domestic_airlines')%></span>
          </a>
        </li>
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
          <a>
            <span itemprop="title"><%= format_airline_name(@carrier_name, I18n.locale) %></span>
          </a>
        </li>
      </ul>
      <h1 class="col-lg-6 no-padding"><%= format_airline_name(@carrier_name, I18n.locale) %> </h1>
      
      <div class="clearfix"></div>
      <%= render "common/search_widget" %>
      <div class="col-lg-9 col-md-9 col-sm-12 mobile-view pad-lzero" id="flight-schedule">
        <div class="list-box">
          <div id="banner" class="lhs-banner"></div>
          
          <% if popular_routes['dom_dom'].present? &&  popular_routes['dom_dom'].length>0 %>
          <h2><%= t('brand.popular_dom_route_title', airline_name: @carrier_name) %></h2>
          <%= render :partial=>"bookings/overview/en/brand_flight_schedule",:locals=>{:routes=>popular_routes['dom_dom'], :use_helper=>use_helper, :assets_path=>@assets_path, :country_code=> @country_code, :section=> 'dom',currency_code: 'Rs.'} %>
          <p>&nbsp;</p>
          <% end %>
          
          <% if popular_routes['dom_int'].present? && popular_routes['dom_int'].length>0  %>
          <h2><%= t('brand.popular_int_route_title', airline_name: @carrier_name) %></h2>
          <%= render :partial=>"bookings/overview/en/brand_flight_schedule",:locals=>{:routes=>popular_routes['dom_int'], :use_helper=>use_helper, :assets_path=>@assets_path, :country_code=> @country_code, :section=> 'int',currency_code: 'Rs.'} %><!--mobile-view-->
          <% end %>
          <div class="content-desc">
            <% if content["overview_content_en"].present? %>
              <%= raw content["overview_content_en"] %>
            <% end%>
          </div>
          <div class="clearfix"></div>
          <div class="top-routes">
            <h2><%= t('brand.top_route' , airline_name: @carrier_name) %></h2>
            <%#= render :partial=>"airline_brands/brand_top_routes", locals: { top_routes: top_routes, t_helper: t_helper, page_number: page_number, airline_name: @carrier_name} %>
            <%#= will_paginate top_routes %>
            <%# end %>
          </div>
        </div><!--list-box-->
      </div>
      <div id="Rside-bar">
        <div class="col-lg-3 col-md-3 col-sm-12 pad-rzero side-bar">
          <div class="blocks banner-section">
            <div id="banner">
              <a target="_blank"><img></a>
            </div>
          </div>
          <%= render :partial=>"bookings/shared/en/rhs_top_airlines",:locals=>{:top_airlines=>rhs_airlines[:dom_airlines], use_helper: use_helper,:assets_path=>@assets_path, application_processor: application_processor,section: "dom"} %>
          <%= render :partial=>"bookings/shared/en/rhs_top_routes",:locals=>{:routes=>rhs_schedule_routes[:dom_routes], page_type: 'flight-booking', application_processor: application_processor, :carrier_code=> @carrier_code, :section=>"dom" } %>
          <%= render :partial=>"bookings/shared/en/rhs_top_airports",:locals=>{:top_airports=>header_airports["int_airports"], use_helper: use_helper, application_processor: application_processor } %>
          <div class="blocks banner-section">
            <%#= render :partial=>"common/banner",:locals=>{:country_code=>@country_code, application_processor: application_processor} %>
          </div>
        </div>
      </div><!--/Rside-bar-->
    </div>
    <div class="clearfix"></div>
  </section><!--/contnet-- >
  <!--/contnet Ends Here-->
  <div id="footer_container">
    <div id="footer">
      <% country_code = @country_code %>
      <%= render partial: "footers/#{country_code.downcase}/booking/dom_footer", locals: {country_code: country_code,top_airlines: booking_footer[:dom_airlines],section: @section}%>
    </div>
  </div>
  <%= render :partial=>"shared/#{@country_code.downcase}/#{@country_code.downcase}_gac"%>
  <%= render partial: "common/comscore" %>
  <noscript>  
    <img src="http://b.scorecardresearch.com/p?c1=2&c2=7561529&cv=2.0&cj=1" />
  </noscript>
  <script type="text/javascript">
  var country_code='<%= @country_code.downcase%>';
  var section_type='<%= @section.include?("dom") ? "domestic" : "international" %>';
  var page_type="flight-booking";
  var language_type='<%= I18n.locale.downcase.to_s%>';
  var carrier_name= '<%= @carrier_name %>' ;
  var carrier_code= '<%= @carrier_code %>';
  var page_sub_type= "Airline overview";
  var sub_section= 'overview';
</script>
  <script src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/date_format.js"></script>
  <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/ct_custom.js"></script>
  <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/banner_tool_v1.js"></script>
</body>
</html> 