<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>" <%= "dir = 'rtl'".html_safe if I18n.locale.to_s == "ar" %>>

  <head>
  	<%#= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= render partial: "common/header_google_tag_manager" %>
    <% seo =  seo_header %>
    
  	<title>  
      <%=  seo[:title] %>
    </title>
    <% if @page_type=="flight-schedule" || @page_type== "flight-booking" %>
      <link rel="amphtml" href="<%=  seo[:amp_url] %>">
    <% end %>
    <meta name="description" content="<%= seo[:description] %>">
    <meta name="keywords" content="<%= seo[:keywords] %>">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%=  render partial: "common/fb_tw_gplus",locals: {title: seo[:title],description: seo[:description]} %>
    <%= render partial: "common/language_meta_tags",locals: {page_number: 1} %>
    <meta name="robots" content="noodp,noydir"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= render partial: "common/crazy_hot_jar_code" %>
    <link rel="stylesheet" href="https://s3-ap-southeast-1.amazonaws.com/waytogo-assets/waytogo-staging/testing/application_test.css"/>
    
  </head>
    <% if @language=="ar" %>
      <body id="arabic">
    <% else %>
      <body>
    <% end %>
    <%= yield %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/jquery-ui.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
      <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/date_format.js"></script>
      <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/ct_custom.js"></script>
      <script type="text/javascript" src="https://d2w5af8s1781.cloudfront.net/waytogo-staging/javascripts/banner_tool_v1.js"></script>
    </body>
</html>
